:root {
  --timer: 0s;
}

#display,
#buyContainer,
#upgradeContainer {
  display: flexbox;
  justify-content: center;
  height: 30vh;
}
h1 {
  display: block;
}
button {
  margin-top: 10px;
  padding: 1em;
}
.progressBar {
  width: 50vw;
  height: 50px;
  background-color: black;
  border-radius: 2em;
  margin: 5px;
}
.progressBar::after {
  align-items: center;
  background-color: white;
  animation: progress var(--timer) ease-in-out 0s infinite infinite;
}
@keyframes progress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
