#display,
#buyContainer,
#upgradeContainer {
  display: flexbox;
  justify-content: center;
  height: 30vh;
}
h1 {
  display: block;
}
button {
  margin-top: 10px;
  padding: 1em;
}
.progressBar {
  width: 50vw;
  height: 50px;
  background-color: black;
  border-radius: 2em;
  margin: 5px;
}
.progressBar::after {
  align-items: center;
  min-width: 1em;
  max-width: calc(100% - 1em);
  width: calc(var(--width, 0) * 1%);
  background-color: white;
}
